{% extends 'base.html'%}
{% block title%} Edit Settings {% endblock %}
{% block content %}


<div class="Container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-cm-12 text-center">
            <h1 class="display-2"> Edit Your MovieThon Settings </h1>
            <form method="post">
                {% csrf_token %}
            
                {{ form.as_p }}
                <button class="btn btn-dark"> Update Settings </button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</div>

{% endblock %}